* {
    border: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#tray,
#battery,
#memory,
#cpu,
#network,
#pulseaudio,
#clock,
#workspaces {
    margin: 2px 2px;
    background: #2B2E4A;
    border-radius: 3px;
}

#tray,
#workspaces button,
#battery,
#memory,
#cpu,
#network,
#pulseaudio,
#clock {
    padding: 5px 10px;
}

#battery.critical:not(.charging),
#memory.critical,
#cpu.critical,
#network.disconnected,
#pulseaudio.muted {
    background-color: #C70039;
}

#workspaces button {
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    font-weight: bold;
    border-bottom: 2px solid white;
}

#battery.charging {
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #FFCC00;
    color: black;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f64f4f;
    }
}
