* {
  border: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
  color: white;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#idle_inhibitor,
#tray,
#battery,
#memory,
#cpu,
#network,
#pulseaudio,
#clock,
#workspaces {
  margin: 2px 2px;
  background: #2b2e4a;
  border-radius: 3px;
}

#idle_inhibitor,
#tray,
#workspaces button,
#battery,
#memory,
#cpu,
#network,
#pulseaudio,
#clock {
  padding: 5px 10px;
}

#battery.critical:not(.charging),
#memory.critical,
#cpu.critical,
#network.disconnected,
#pulseaudio.muted {
  background-color: #c70039;
}

#workspaces button {
  border-radius: 0;
  border-bottom: 2px solid transparent;
}

#workspaces button.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

#battery.charging {
  background-color: #26a65b;
}

#battery.warning:not(.charging) {
  background-color: #ffcc00;
  color: black;
}

#idle_inhibitor.activated {
  background-color: #26a65b;
}
